services:
  traefik:
    image: traefik:v3.4
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

    networks:
      - gatewayproxy
    ports:
      - "${PUBLIC_PORT}:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

    command:
      # EntryPoints
      - "--entrypoints.web.address=:80"

      # Providers 
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=gatewayproxy"

      # Cloudflare real ip plugin
      - "--experimental.plugins.cloudflarewarp.modulename=github.com/BetterCorp/cloudflarewarp"
      - "--experimental.plugins.cloudflarewarp.version=v1.3.3"

      # API & Dashboard 
      - "--api.dashboard=true"

      # Observability 
      - "--log.level=INFO"
      - "--accesslog=true"
      # - "--metrics.prometheus=true"

    # Traefik Dynamic configuration via Docker labels
    labels:
      # Enable self‑routing
      - "traefik.enable=true"

      # Dashboard router
      - "traefik.http.routers.dashboard.rule=Host(`${DASHBOARD_HOST}`)"
      - "traefik.http.routers.dashboard.entrypoints=web"
      - "traefik.http.routers.dashboard.service=api@internal"

      # Configure cloudflare real ip plugin
      - "traefik.http.middlewares.my-cloudflarewarp.plugin.cloudflarewarp.disableDefault=false"

      # Basic‑auth middleware
      - "traefik.http.middlewares.dashboard-auth.basicauth.users=${DASHBOARD_AUTH}"
      - "traefik.http.routers.dashboard.middlewares=dashboard-auth@docker"

  whoami:
    image: traefik/whoami
    container_name: whoami
    restart: unless-stopped
    networks:
      - gatewayproxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`${WHOAMI_HOST:-whoami.heav.fr}`)"
      - "traefik.http.routers.whoami.entrypoints=web"

networks:
  gatewayproxy:
    name: gatewayproxy
    external: true
